body {
	margin-top: 50px;
}

div.gazo {
	margin-bottom: 80px;
}
span.gazo_name {
	font-weight: bold;
	color: green;
}
div.gazo > a > img {
	border: 1px solid #ccc;
}

footer {
	text-align: right;
	padding-right: 10px;
	padding-top: 2px; }
	footer a {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}

/* wide display */
@media screen and (min-device-width: 1601px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 1200px;
	}

	.span12 {
		width: 1200px;
	}
}

/* smart phones */
@media screen and (max-device-width: 480px) {
}
